.row {
  display: flex;
}
.list {
  display: flex;
  width: 800px;
  flex-wrap: wrap;
  height: 200px;
  gap: 30px;
}
.list button {
  background-color: transparent;
  border: 1px solid mediumvioletred;
  color: mediumvioletred;
  margin-left: 45px;
}
img{
  width: 170px;
}